@charset "UTF-8";
/*
-----------------------------------------------
ヘッダー
-----------------------------------------------
----------------*/
* {
  box-sizing: border-box;
}

::before, ::after {
  box-sizing: inherit;
}

button {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  border-radius: 0;
  background: transparent;
  color: inherit;
  vertical-align: middle;
  text-align: inherit;
  font: inherit;
  -webkit-appearance: none;
  appearance: none;
}

/*
-----------------------------------------------
以下、ハンバーガーボタンのスタイリング
-----------------------------------------------
------------*/
.btn {
  /* ボタンの配置位置  */
  position: fixed;
  top: 32px;
  right: 16px;
  /* 最前面に */
  z-index: 10;
  /* ボタンの大きさ  */
  width: 35px;
  height: 20px;
}

/***** 真ん中のバーガー線 *****/
.btn-line {
  display: block;
  /* バーガー線の位置基準として設定 */
  position: relative;
  /* 線の長さと高さ */
  width: 100%;
  height: 3px;
  /* バーガー線の色 */
  background-color: #333;
  transition: .2s;
}

/***** 上下のバーガー線 *****/
.btn-line::before, .btn-line::after {
  content: "";
  /* 基準線と同じ大きさと色 */
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #333;
  transition: .5s;
}

.btn-line::before {
  /* 上の線の位置 */
  transform: translateY(-13px);
}

.btn-line::after {
  /* 下の線の位置 */
  transform: translateY(13px);
}

/***** メニューオープン時 *****/
.btn-line.open {
  /* 真ん中の線を透明に */
  background-color: transparent;
}

.btn-line.open::before, .btn-line.open::after {
  content: "";
  background-color: #333;
  transition: .2s;
}

.btn-line.open::before {
  /* 上の線を傾ける */
  transform: rotate(45deg);
}

.btn-line.open::after {
  /* 上の線を傾ける */
  transform: rotate(-45deg);
}

/**************** ここまで、ハンバーガーボタンのスタイリング ****************/
/**************** 以下、メニューのスタイリング ****************/
.header__list {
  /* メニューを縦に */
  display: flex;
  flex-direction: column;
  position: fixed;
  justify-content: normal;
  align-items: flex-start;
  /* メニューの位置マイナス指定で画面外に */
  right: -70%;
  width: 50%;
  height: 100vh;
  background-color: #05A5FA;
  color: #928787;
  transition: .3s;
  padding-top: 100px;
}

.header__item {
  /* メニューテキスト位置をリスト内中心に */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
  font-size: 16px;
  margin-right: 0;
}

.header__item:hover {
  background-color: rgba(255, 255, 255, 0.5);
  color: #333;
  cursor: pointer;
  transition: .3s;
}

/***** メニューオープン時位置0にして画面内に *****/
.header__list.open {
  position: absolute;
  margin-top: 0;
  padding-left: 0;
  right: 0;
  top: 0;
}

.header__inner {
  margin-left: 10px;
  margin-right: 10px;
}

.header-btn {
  display: none;
}

/*
------------------------------------------------------
メイン
------------------------------------------------------
-----------------*/
.main__inner {
  margin-left: 10px;
  margin-right: 10px;
}

.main-image {
  position: relative;
}

.main img {
  width: 40vw;
  height: 40vw;
  position: relative;
  top: 40%;
  transform: translateY(-50%);
}

.main-title {
  font-size: 17px;
}

.main-text {
  font-size: 12px;
}

/*
-----------------------------------------------
特徴
-----------------------------------------------
--------------*/
.module-first__inner {
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.module-first img {
  height: 30vw;
}

.module-first-article-title {
  font-size: 16px;
}

.module-first-article-text {
  font-size: 12px;
  margin-right: 0;
}

.module-quality__inner {
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: column-reverse;
  text-align: center;
}

.module-quality-article-title {
  font-size: 16px;
  margin-top: 44px;
}

.module-quality-article-text {
  font-size: 12px;
}

.module-quality-article {
  margin-left: 0;
}

.module-quality img {
  height: 30vw;
}

.module-response-title {
  margin-top: 88px;
}

.module-response__inner {
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.module-response img {
  height: 30vw;
}

.module-response-article-title {
  font-size: 16px;
  margin-top: 44px;
}

.module-response-article-text {
  font-size: 12px;
  margin-bottom: 0;
}

/*
-----------------------------------------------
価格
-----------------------------------------------
------------------*/
.price__inner {
  padding-left: 10px;
  padding-right: 10px;
}

.horizontal-table-header {
  font-size: 13px;
}

.horizontal-table-text {
  font-size: 13px;
}

.horizontal-table-header2 {
  font-size: 13px;
}

.horizontal-table-text2 {
  font-size: 13px;
}

.horizontal-table-header3 {
  font-size: 13px;
}

.horizontal-table-text3 {
  font-size: 13px;
}

.horizontal-table-header4 {
  font-size: 13px;
}

.horizontal-table-text4 {
  font-size: 13px;
}

.price-notice {
  font-size: 14px;
}

/*
-----------------------------------------------
よくある質問
-----------------------------------------------
----------------*/
.faq__inner {
  padding-left: 10px;
  padding-right: 10px;
}

.faq-table dd {
  padding-left: 15px;
  padding-right: 15px;
}

/*
-----------------------------------------------
ブログ
-----------------------------------------------
-----------------*/
.blog {
  padding-bottom: 41px;
}

.blog__inner {
  padding-left: 10px;
  padding-right: 10px;
}

.blog-sub-title {
  margin-bottom: 40px;
}

.blog-cards {
  flex-direction: column;
}

.blog-card__link {
  width: 60vw;
  height: 75vw;
  margin-bottom: 50px;
  margin-left: 50%;
  transform: translateX(-50%);
}

.blog-card__img {
  width: 60vw;
}

.blog-card__text {
  font-size: 12px;
  margin-left: 10px;
  margin-right: 10px;
}

.blog-card__date {
  font-size: 12px;
  right: 15px;
}

/*
-----------------------------------------------
web製作
-----------------------------------------------
----------------*/
.swiper-card__img {
  width: 100%;
  height: 30vw;
}

.swiper-card__text {
  font-size: 14px;
  font-weight: bold;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 35px;
}

.swiper-card__list {
  font-size: 12px;
  font-weight: bold;
  margin-left: 10px;
}

/*
-----------------------------------------------
お問い合わせ
-----------------------------------------------
---------------*/
.form-wrapper {
  margin-left: 10px;
  margin-right: 10px;
}

#form {
  margin-left: 20px;
  margin-right: 20px;
}

.box-name label {
  margin-right: 20px;
}

.box-name input {
  width: 100%;
}

.box-mail label {
  margin-right: 20px;
}

.box-mail input {
  width: 100%;
}

/*
-----------------------------------------------
フッター
-----------------------------------------------
--------------*/
.footer__item {
  margin-right: 30px;
}

.footer-wrapper ul li {
  font-size: 12px;
}

.footer-title {
  font-size: 20px;
}
