/*
-----------------------------------------------
ヘッダー
-----------------------------------------------
----------------*/
* {
    box-sizing: border-box;
    
}

::before , ::after {
    box-sizing: inherit;
}

button {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    border-radius: 0;
	background: transparent;
	color: inherit;
	vertical-align: middle;
	text-align: inherit;
	font: inherit;
	-webkit-appearance: none;
	appearance: none;
}
/*
-----------------------------------------------
以下、ハンバーガーボタンのスタイリング
-----------------------------------------------
------------*/
.btn {
	/* ボタンの配置位置  */
	position: fixed;
	top: 32px;
	right: 16px;
	/* 最前面に */
	z-index: 10;
	/* ボタンの大きさ  */
	width: 48px;
	height: 48px;
}
/***** 真ん中のバーガー線 *****/
.btn-line {
	display: block;
	/* バーガー線の位置基準として設定 */
	position: relative;
	/* 線の長さと高さ */
	width: 100%;
	height: 4px;
	/* バーガー線の色 */
	background-color: #d6d5d5;
	transition: .2s;
}
/***** 上下のバーガー線 *****/
.btn-line::before , .btn-line::after {
	content: "";
	/* 基準線と同じ大きさと色 */
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #d6d5d5;
	transition: .5s;
}

.btn-line::before {
	/* 上の線の位置 */
	transform: translateY(-16px);
}

.btn-line::after {
	/* 下の線の位置 */
	transform: translateY(16px);
}
/***** メニューオープン時 *****/
.btn-line.open {
	/* 真ん中の線を透明に */
	background-color: transparent;
}

.btn-line.open::before , .btn-line.open::after {
	content: "";
	background-color: #333;
	transition: .2s;
}

.btn-line.open::before {
	/* 上の線を傾ける */
	transform: rotate(45deg);
}

.btn-line.open::after {
	/* 上の線を傾ける */
	transform: rotate(-45deg);
}
/**************** ここまで、ハンバーガーボタンのスタイリング ****************/

/**************** 以下、メニューのスタイリング ****************/
.header__list {
	/* メニューを縦に */
	display: flex;
	flex-direction: column;
	position: fixed;
	/* メニューの位置マイナス指定で画面外に */
	right: -70%;
	width: 30%;
	height: 50vw;
	background-color: rgba(167, 148, 58, .7);
	color: #928787;
	transition: .3s;
}

.header__item {
	/* メニューテキスト位置をリスト内中心に */
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	font-size: 16px;
}

.header__item:hover {
	background-color: rgba(255, 255, 255, .5);
	color: #333;
	cursor: pointer;
	transition: .3s;
}

/***** メニューオープン時位置0にして画面内に *****/
.header__list.open {
	position: absolute;
	right: 0;
}

.header {
    &__inner {
        margin-left: 10px;
        margin-right: 10px;
    }

    &-btn {
        display: none;
    }
} 

/*
------------------------------------------------------
メイン
------------------------------------------------------
-----------------*/
.main {
	&__inner {
		margin-left: 10px;
        margin-right: 10px;
	}
	&-image {
		position: relative;
	}
	img {
		width: 50vw;
		height: 50vw;
		position: relative;
		top: 40%;
		transform: translateY(-50%);
	}
	&-title {
		font-size: 18px;
	}
	&-text {
		font-size: 10px;
	}
}

/*
-----------------------------------------------
特徴
-----------------------------------------------
--------------*/
.module-first {
	&__inner {
		margin-left: 10px;
		margin-right: 10px;
	}
	&-image {
		position: relative;
	}
	img {
		height: 30vw;
		position: relative;
		top: 50%;
		transform: translateY(-50%);
	}
	&-article-title {
		font-size: 18px;
	}
	&-article-text {
		font-size: 10px;
	}
}

.module-quality {
	&__inner {
		margin-left: 10px;
		margin-right: 10px;
	}
	&-article-title {
		font-size: 18px;
	}
	&-article-text {
		font-size: 10px;
	}
	&-image {
		position: relative;
	}
	img {
		height: 30vw;
		position: relative;
		top: 50%;
		transform: translateY(-50%);
	}
}

.module-response {
	&__inner {
		margin-left: 10px;
		margin-right: 10px;
	}
	&-image {
		position: relative;
	}
	img {
		height: 30vw;
		position: relative;
		top: 50%;
		transform: translateY(-50%);
	}
	&-article-title {
		font-size: 18px;
	}
	&-article-text {
		font-size: 10px;
	}
}

/*
-----------------------------------------------
価格
-----------------------------------------------
------------------*/
.price {
	&__inner {
		padding-left: 10px;
		padding-right: 10px;
	}
}

/*
-----------------------------------------------
よくある質問
-----------------------------------------------
----------------*/
.faq {
	&__inner {
		padding-left: 10px;
		padding-right: 10px;
	}
	&-table dd {
		padding-left: 15px;
		padding-right: 15px;
    }
}

/*
-----------------------------------------------
ブログ
-----------------------------------------------
-----------------*/
.blog {
	&__inner {
		padding-left: 10px;
		padding-right: 10px;
	}
	&-card__link {
		height: 260px;
	}
	&-card__text {
		font-size: 12px;
		margin-left: 10px;
		margin-right: 10px;
	}
	&-card__date {
		font-size: 10px;
		right: 15px;
	}
}

/*
-----------------------------------------------
web製作
-----------------------------------------------
----------------*/
.swiper {
	&-slide {
		margin-right: 10px !important;
		width: 30% !important;
		height: 30% !important;
	}
	&-card__text {
        font-size: 14px;
        font-weight: bold;
		margin-left: 10px;
		margin-right: 10px;
        margin-bottom: 35px;
    }
    &-card__list {
        font-size: 12px;
        font-weight: bold;
        margin-left: 10px;
    }
}

/*
-----------------------------------------------
お問い合わせ
-----------------------------------------------
---------------*/
.form {
	&-wrapper {
		margin-left: 10px;
		margin-right: 10px;
	}
}

/*
-----------------------------------------------
フッター
-----------------------------------------------
--------------*/
.footer {
	 &__item {
		 margin-right: 30px;
	 }
}